USE [master]
GO
/****** Object:  Database [SeaTrack]    Script Date: 11/21/2025 02:19:24 م ******/
CREATE DATABASE [SeaTrack]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SeaTrack', FILENAME = N'C:\Users\Pc\SeaTrack.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SeaTrack_log', FILENAME = N'C:\Users\Pc\SeaTrack_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SeaTrack].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SeaTrack]
GO
/****** Object:  Table [dbo].[Trips]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trips](
	[trip_id] [int] IDENTITY(1,1) NOT NULL,
	[trip_code] [varchar](50) NOT NULL,
	[ship_id] [int] NOT NULL,
	[departure_port_id] [int] NOT NULL,
	[arrival_port_id] [int] NOT NULL,
	[departure_date] [datetime2](7) NOT NULL,
	[expected_arrival_date] [datetime2](7) NOT NULL,
	[actual_arrival_date] [datetime2](7) NULL,
	[status_id] [int] NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TripStatuses]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripStatuses](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [varchar](50) NOT NULL,
	[status_name_ar] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ports]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ports](
	[port_id] [int] IDENTITY(1,1) NOT NULL,
	[port_name] [nvarchar](150) NOT NULL,
	[port_code] [varchar](10) NOT NULL,
	[country] [nvarchar](100) NOT NULL,
	[city] [nvarchar](100) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[port_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ships]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ships](
	[ship_id] [int] IDENTITY(1,1) NOT NULL,
	[ship_name] [nvarchar](150) NOT NULL,
	[ship_code] [varchar](50) NOT NULL,
	[capacity_containers] [int] NOT NULL,
	[max_weight_tons] [decimal](10, 2) NULL,
	[manufacturer] [nvarchar](100) NULL,
	[year_built] [int] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ship_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trip_Containers]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trip_Containers](
	[trip_container_id] [int] IDENTITY(1,1) NOT NULL,
	[trip_id] [int] NOT NULL,
	[container_id] [int] NOT NULL,
	[cargo_weight_kg] [decimal](10, 2) NULL,
	[assigned_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[trip_container_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Trip_Details]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Trip_Details] AS
SELECT 
    t.trip_id,
    t.trip_code,
    s.ship_name,
    dp.port_name AS departure_port,
    ap.port_name AS arrival_port,
    t.departure_date,
    t.expected_arrival_date,
    t.actual_arrival_date,
    ts.status_name_ar AS trip_status,
    (SELECT COUNT(*) FROM Trip_Containers tc WHERE tc.trip_id = t.trip_id) AS container_count
FROM Trips t
JOIN Ships s ON t.ship_id = s.ship_id
JOIN Ports dp ON t.departure_port_id = dp.port_id
JOIN Ports ap ON t.arrival_port_id = ap.port_id
JOIN TripStatuses ts ON t.status_id = ts.status_id;
GO
/****** Object:  Table [dbo].[ShippingTypes]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingTypes](
	[type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [varchar](50) NOT NULL,
	[type_name_ar] [nvarchar](50) NULL,
	[description] [text] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipmentStatuses]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentStatuses](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [varchar](50) NOT NULL,
	[status_name_ar] [nvarchar](50) NULL,
	[description] [text] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[address] [text] NULL,
	[country] [nvarchar](100) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[last_login_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Containers]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Containers](
	[container_id] [int] IDENTITY(1,1) NOT NULL,
	[container_code] [varchar](50) NOT NULL,
	[type] [int] NOT NULL,
	[size_id] [int] NOT NULL,
	[base_weight_kg] [decimal](10, 2) NOT NULL,
	[max_weight_kg] [decimal](10, 2) NOT NULL,
	[is_available] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[container_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[shipment_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[shipment_code] [varchar](50) NOT NULL,
	[qr_code] [varchar](255) NOT NULL,
	[description] [text] NOT NULL,
	[weight_kg] [decimal](10, 2) NOT NULL,
	[length_cm] [decimal](10, 2) NULL,
	[width_cm] [decimal](10, 2) NULL,
	[height_cm] [decimal](10, 2) NULL,
	[shipping_type_id] [int] NOT NULL,
	[booking_request_id] [int] NULL,
	[departure_country] [varchar](100) NULL,
	[arrival_country] [varchar](100) NULL,
	[trip_container_id] [int] NULL,
	[status_id] [int] NOT NULL,
	[scanned_by] [int] NULL,
	[scanned_at] [datetime2](7) NULL,
	[delivered_by] [int] NULL,
	[delivered_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[invoice_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[shipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Shipment_Details_Enhanced]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Shipment_Details_Enhanced] AS
SELECT 
    s.shipment_id, 
    s.shipment_code, 
    s.qr_code, 
    s.customer_id,
    u.full_name AS customer_name, 
    u.email AS customer_email, 
    u.phone AS customer_phone,
    s.description, 
    s.weight_kg, 
    s.length_cm, 
    s.width_cm, 
    s.height_cm,
    CASE 
        WHEN s.length_cm IS NOT NULL AND s.width_cm IS NOT NULL AND s.height_cm IS NOT NULL
        THEN (s.length_cm * s.width_cm * s.height_cm) / 1000000.0
        ELSE NULL 
    END AS volume_m3,
    st.type_name_ar AS shipping_type,
    s.departure_country, 
    s.arrival_country,
    s.status_id, 
    ss.status_name_ar,
    c.container_code,
    t.trip_code,
    t.status_id AS trip_status,
    t.departure_date AS trip_departure_date,
    t.expected_arrival_date AS trip_expected_arrival_date,
    scanner.full_name AS scanned_by_name,
    s.scanned_at,
    deliverer.full_name AS delivered_by_name,
    s.delivered_at,
    CASE 
        WHEN s.delivered_at IS NOT NULL THEN DATEDIFF(DAY, s.created_at, s.delivered_at)
        ELSE DATEDIFF(DAY, s.created_at, GETDATE())
    END AS days_in_system,
    s.created_at, 
    s.updated_at
FROM 
    Shipments s
JOIN 
    Users u ON s.customer_id = u.user_id
JOIN 
    ShippingTypes st ON s.shipping_type_id = st.type_id
JOIN 
    ShipmentStatuses ss ON s.status_id = ss.status_id
LEFT JOIN 
    Trip_Containers tc ON s.trip_container_id = tc.trip_container_id
LEFT JOIN 
    Containers c ON tc.container_id = c.container_id
LEFT JOIN 
    Trips t ON tc.trip_id = t.trip_id
LEFT JOIN 
    Users scanner ON s.scanned_by = scanner.user_id
LEFT JOIN 
    Users deliverer ON s.delivered_by = deliverer.user_id;
GO
/****** Object:  View [dbo].[vw_Container_Status]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Container_Status] AS
SELECT 
    c.container_id,
    c.container_code,
    c.base_weight_kg,
    c.max_weight_kg,
    tc.trip_container_id,
    tc.cargo_weight_kg,
    (c.base_weight_kg + tc.cargo_weight_kg) AS gross_weight_kg,
    COUNT(sh.shipment_id) AS shipment_count,
    c.is_available
FROM 
    Containers c
LEFT JOIN 
    Trip_Containers tc ON c.container_id = tc.container_id
LEFT JOIN 
    Shipments sh ON tc.trip_container_id = sh.trip_container_id
GROUP BY 
    c.container_id, c.container_code, c.base_weight_kg, c.max_weight_kg,
    tc.trip_container_id, tc.cargo_weight_kg, c.is_available;
GO
/****** Object:  Table [dbo].[ActivityLog]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLog](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[table_name] [varchar](100) NULL,
	[record_id] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingRequests]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingRequests](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[trip_id] [int] NOT NULL,
	[container_type] [int] NOT NULL,
	[container_size] [int] NOT NULL,
	[expected_weight_kg] [decimal](10, 2) NULL,
	[status] [int] NOT NULL,
	[trip_container_id] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[cargo_type] [nvarchar](100) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingStatuses]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingStatuses](
	[status_id] [int] NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContainerSizes]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContainerSizes](
	[size_id] [int] IDENTITY(1,1) NOT NULL,
	[size_name] [varchar](50) NULL,
	[size_feet] [int] NULL,
	[capacity_cbm] [decimal](10, 2) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContainerTypes]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContainerTypes](
	[container_type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[container_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItems]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItems](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NOT NULL,
	[shipment_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[invoice_code] [varchar](50) NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[status] [int] NOT NULL,
	[payment_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[invoice_number] [nvarchar](50) NULL,
	[booking_id] [int] NULL,
	[is_paid] [bit] NOT NULL,
	[issue_date] [datetime2](7) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NOT NULL,
	[amount_paid] [decimal](18, 2) NOT NULL,
	[payment_date] [datetime2](7) NOT NULL,
	[payment_method] [nvarchar](50) NULL,
	[transaction_id] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [text] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivityLog] ON 

INSERT [dbo].[ActivityLog] ([log_id], [user_id], [action], [description], [table_name], [record_id], [created_at]) VALUES (1, 1, N'UPDATE', NULL, N'Users', 1, CAST(N'2025-11-14T15:13:50.1433333' AS DateTime2))
INSERT [dbo].[ActivityLog] ([log_id], [user_id], [action], [description], [table_name], [record_id], [created_at]) VALUES (2, 1, N'UPDATE', NULL, N'Users', 1, CAST(N'2025-11-14T22:22:14.4966667' AS DateTime2))
INSERT [dbo].[ActivityLog] ([log_id], [user_id], [action], [description], [table_name], [record_id], [created_at]) VALUES (3, 1, N'UPDATE', NULL, N'Users', 1, CAST(N'2025-11-14T22:23:35.4000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ActivityLog] OFF
SET IDENTITY_INSERT [dbo].[BookingRequests] ON 

INSERT [dbo].[BookingRequests] ([booking_id], [customer_id], [trip_id], [container_type], [container_size], [expected_weight_kg], [status], [trip_container_id], [created_at], [updated_at], [cargo_type], [notes]) VALUES (1, 3, 1, 1, 1, CAST(1500.00 AS Decimal(10, 2)), 2, 1, CAST(N'2025-11-20T14:08:07.0466667' AS DateTime2), NULL, N'إلكترونيات', N'يرجى التعامل بحذر')
INSERT [dbo].[BookingRequests] ([booking_id], [customer_id], [trip_id], [container_type], [container_size], [expected_weight_kg], [status], [trip_container_id], [created_at], [updated_at], [cargo_type], [notes]) VALUES (2, 4, 1, 1, 2, CAST(2000.00 AS Decimal(10, 2)), 1, NULL, CAST(N'2025-11-21T14:08:07.0466667' AS DateTime2), NULL, N'ملابس ومنسوجات', N'لا توجد ملاحظات')
INSERT [dbo].[BookingRequests] ([booking_id], [customer_id], [trip_id], [container_type], [container_size], [expected_weight_kg], [status], [trip_container_id], [created_at], [updated_at], [cargo_type], [notes]) VALUES (3, 3, 2, 2, 2, CAST(50000.00 AS Decimal(10, 2)), 3, NULL, CAST(N'2025-11-16T14:08:07.0466667' AS DateTime2), NULL, N'مواد ثقيلة', N'الوزن زائد عن الحد')
SET IDENTITY_INSERT [dbo].[BookingRequests] OFF
INSERT [dbo].[BookingStatuses] ([status_id], [status_name]) VALUES (1, N'قيد المراجعة')
INSERT [dbo].[BookingStatuses] ([status_id], [status_name]) VALUES (2, N'تمت الموافقة')
INSERT [dbo].[BookingStatuses] ([status_id], [status_name]) VALUES (3, N'مرفوض')
SET IDENTITY_INSERT [dbo].[Containers] ON 

INSERT [dbo].[Containers] ([container_id], [container_code], [type], [size_id], [base_weight_kg], [max_weight_kg], [is_available], [created_at], [updated_at]) VALUES (1, N'CONT-40-123', 1, 1, CAST(3500.00 AS Decimal(10, 2)), CAST(28000.00 AS Decimal(10, 2)), 1, CAST(N'2025-11-14T15:13:59.6833333' AS DateTime2), NULL)
INSERT [dbo].[Containers] ([container_id], [container_code], [type], [size_id], [base_weight_kg], [max_weight_kg], [is_available], [created_at], [updated_at]) VALUES (2, N'CONT-20-P-05', 3, 3, CAST(2200.00 AS Decimal(10, 2)), CAST(18000.00 AS Decimal(10, 2)), 1, CAST(N'2025-11-14T15:13:59.6833333' AS DateTime2), NULL)
INSERT [dbo].[Containers] ([container_id], [container_code], [type], [size_id], [base_weight_kg], [max_weight_kg], [is_available], [created_at], [updated_at]) VALUES (3, N'CONT-40-456', 1, 1, CAST(3500.00 AS Decimal(10, 2)), CAST(28000.00 AS Decimal(10, 2)), 1, CAST(N'2025-11-14T15:13:59.6833333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Containers] OFF
SET IDENTITY_INSERT [dbo].[ContainerSizes] ON 

INSERT [dbo].[ContainerSizes] ([size_id], [size_name], [size_feet], [capacity_cbm], [created_at]) VALUES (1, N'40ft Container', 40, CAST(67.70 AS Decimal(10, 2)), CAST(N'2025-11-14T15:11:05.8700000' AS DateTime2))
INSERT [dbo].[ContainerSizes] ([size_id], [size_name], [size_feet], [capacity_cbm], [created_at]) VALUES (2, N'20ft Container', 20, CAST(33.20 AS Decimal(10, 2)), CAST(N'2025-11-14T15:11:05.8700000' AS DateTime2))
INSERT [dbo].[ContainerSizes] ([size_id], [size_name], [size_feet], [capacity_cbm], [created_at]) VALUES (3, N'Half Container', 20, CAST(33.20 AS Decimal(10, 2)), CAST(N'2025-11-14T15:11:05.8700000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ContainerSizes] OFF
SET IDENTITY_INSERT [dbo].[ContainerTypes] ON 

INSERT [dbo].[ContainerTypes] ([container_type_id], [type_name]) VALUES (1, N'Dry Storage')
INSERT [dbo].[ContainerTypes] ([container_type_id], [type_name]) VALUES (2, N'Flat Rack')
INSERT [dbo].[ContainerTypes] ([container_type_id], [type_name]) VALUES (3, N'Open Top')
SET IDENTITY_INSERT [dbo].[ContainerTypes] OFF
SET IDENTITY_INSERT [dbo].[InvoiceItems] ON 

INSERT [dbo].[InvoiceItems] ([item_id], [invoice_id], [shipment_id], [amount], [created_at]) VALUES (1, 1, 1, CAST(1000.00 AS Decimal(10, 2)), CAST(N'2025-11-21T14:08:07.1166667' AS DateTime2))
INSERT [dbo].[InvoiceItems] ([item_id], [invoice_id], [shipment_id], [amount], [created_at]) VALUES (2, 1, 2, CAST(500.00 AS Decimal(10, 2)), CAST(N'2025-11-21T14:08:07.1166667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[InvoiceItems] OFF
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([invoice_id], [customer_id], [invoice_code], [total_amount], [status], [payment_date], [created_at], [updated_at], [invoice_number], [booking_id], [is_paid], [issue_date], [notes]) VALUES (1, 3, N'INV-2025-1001', CAST(1500.00 AS Decimal(10, 2)), 2, NULL, CAST(N'2025-11-21T14:08:07.0900000' AS DateTime2), NULL, N'INV-001', 1, 1, CAST(N'2025-11-21T14:08:07.0900000' AS DateTime2), N'فاتورة شحن إلكترونيات')
INSERT [dbo].[Invoices] ([invoice_id], [customer_id], [invoice_code], [total_amount], [status], [payment_date], [created_at], [updated_at], [invoice_number], [booking_id], [is_paid], [issue_date], [notes]) VALUES (2, 4, N'INV-2025-1002', CAST(200.00 AS Decimal(10, 2)), 1, NULL, CAST(N'2025-11-21T14:08:07.0900000' AS DateTime2), NULL, N'INV-002', NULL, 0, CAST(N'2025-11-21T14:08:07.0900000' AS DateTime2), N'رسوم حجز مبدئي')
SET IDENTITY_INSERT [dbo].[Invoices] OFF
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([notification_id], [user_id], [message], [is_read], [created_at]) VALUES (1, 3, N'تم تأكيد حجزك رقم #1001 بنجاح', 0, CAST(N'2025-11-21T14:08:07.1200000' AS DateTime2))
INSERT [dbo].[Notifications] ([notification_id], [user_id], [message], [is_read], [created_at]) VALUES (2, 3, N'تم إصدار الفاتورة رقم INV-001', 1, CAST(N'2025-11-21T13:08:07.1200000' AS DateTime2))
INSERT [dbo].[Notifications] ([notification_id], [user_id], [message], [is_read], [created_at]) VALUES (3, 1, N'هناك طلب حجز جديد بحاجة للمراجعة من سارة علي', 0, CAST(N'2025-11-21T14:08:07.1200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([payment_id], [invoice_id], [amount_paid], [payment_date], [payment_method], [transaction_id], [created_at], [notes], [created_by]) VALUES (1, 1, CAST(1500.00 AS Decimal(18, 2)), CAST(N'2025-11-21T14:08:07.1200000' AS DateTime2), N'Credit Card', N'TXN-123456789', CAST(N'2025-11-21T14:08:07.1200000' AS DateTime2), N'تم الدفع بنجاح', 1)
SET IDENTITY_INSERT [dbo].[Payments] OFF
SET IDENTITY_INSERT [dbo].[Ports] ON 

INSERT [dbo].[Ports] ([port_id], [port_name], [port_code], [country], [city], [is_active], [created_at], [updated_at]) VALUES (1, N'????? ?????', N'DMT', N'???', N'?????', 1, CAST(N'2025-11-14T15:13:59.6833333' AS DateTime2), NULL)
INSERT [dbo].[Ports] ([port_id], [port_name], [port_code], [country], [city], [is_active], [created_at], [updated_at]) VALUES (2, N'????? ???', N'JED', N'????????', N'???', 1, CAST(N'2025-11-14T15:13:59.6833333' AS DateTime2), NULL)
INSERT [dbo].[Ports] ([port_id], [port_name], [port_code], [country], [city], [is_active], [created_at], [updated_at]) VALUES (3, N'????? ??? ???', N'JBA', N'????????', N'???', 1, CAST(N'2025-11-14T15:13:59.6833333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Ports] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name], [description], [created_at]) VALUES (1, N'Admin', N'????? ??????', CAST(N'2025-11-14T15:11:05.8633333' AS DateTime2))
INSERT [dbo].[Roles] ([role_id], [role_name], [description], [created_at]) VALUES (2, N'Customer', N'??????', CAST(N'2025-11-14T15:11:05.8633333' AS DateTime2))
INSERT [dbo].[Roles] ([role_id], [role_name], [description], [created_at]) VALUES (3, N'Warehouse Staff', N'???? ????????', CAST(N'2025-11-14T15:11:05.8633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Shipments] ON 

SET IDENTITY_INSERT [dbo].[Shipments] OFF
SET IDENTITY_INSERT [dbo].[ShipmentStatuses] ON 

INSERT [dbo].[ShipmentStatuses] ([status_id], [status_name], [status_name_ar], [description], [created_at]) VALUES (1, N'Created', N'?? ???????', N'?? ????? ??????', CAST(N'2025-11-14T15:11:05.8700000' AS DateTime2))
INSERT [dbo].[ShipmentStatuses] ([status_id], [status_name], [status_name_ar], [description], [created_at]) VALUES (2, N'Scanned', N'?? ?????', N'?? ??? ?????? ?? ????????', CAST(N'2025-11-14T15:11:05.8700000' AS DateTime2))
INSERT [dbo].[ShipmentStatuses] ([status_id], [status_name], [status_name_ar], [description], [created_at]) VALUES (3, N'In Transit', N'??? ?????', N'?????? ?? ??????', CAST(N'2025-11-14T15:11:05.8700000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ShipmentStatuses] OFF
SET IDENTITY_INSERT [dbo].[ShippingTypes] ON 

INSERT [dbo].[ShippingTypes] ([type_id], [type_name], [type_name_ar], [description], [created_at]) VALUES (1, N'Private Container', N'????? ????', N'???? ?? ????? ????? ??????', CAST(N'2025-11-14T15:11:05.8700000' AS DateTime2))
INSERT [dbo].[ShippingTypes] ([type_id], [type_name], [type_name_ar], [description], [created_at]) VALUES (2, N'General Container', N'????? ????', N'???? ?? ????? ???? ??????', CAST(N'2025-11-14T15:11:05.8700000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ShippingTypes] OFF
SET IDENTITY_INSERT [dbo].[Ships] ON 

INSERT [dbo].[Ships] ([ship_id], [ship_name], [ship_code], [capacity_containers], [max_weight_tons], [manufacturer], [year_built], [is_active], [created_at], [updated_at]) VALUES (1, N'???? ??????', N'STAR-01', 100, CAST(5000.00 AS Decimal(10, 2)), N'Hyundai', 2015, 1, CAST(N'2025-11-14T15:13:59.6833333' AS DateTime2), NULL)
INSERT [dbo].[Ships] ([ship_id], [ship_name], [ship_code], [capacity_containers], [max_weight_tons], [manufacturer], [year_built], [is_active], [created_at], [updated_at]) VALUES (2, N'???? ?????', N'BREEZE-01', 80, CAST(4000.00 AS Decimal(10, 2)), N'Samsung', 2018, 1, CAST(N'2025-11-14T15:13:59.6833333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Ships] OFF
SET IDENTITY_INSERT [dbo].[Trip_Containers] ON 

INSERT [dbo].[Trip_Containers] ([trip_container_id], [trip_id], [container_id], [cargo_weight_kg], [assigned_at]) VALUES (1, 1, 1, CAST(800.00 AS Decimal(10, 2)), CAST(N'2025-11-21T14:08:07.0400000' AS DateTime2))
INSERT [dbo].[Trip_Containers] ([trip_container_id], [trip_id], [container_id], [cargo_weight_kg], [assigned_at]) VALUES (2, 2, 2, CAST(5000.00 AS Decimal(10, 2)), CAST(N'2025-11-18T14:08:07.0400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Trip_Containers] OFF
SET IDENTITY_INSERT [dbo].[Trips] ON 

INSERT [dbo].[Trips] ([trip_id], [trip_code], [ship_id], [departure_port_id], [arrival_port_id], [departure_date], [expected_arrival_date], [actual_arrival_date], [status_id], [created_by], [created_at], [updated_at]) VALUES (1, N'TRIP-JED-ALX-001', 1, 2, 4, CAST(N'2025-11-28T14:08:07.0333333' AS DateTime2), CAST(N'2025-12-05T14:08:07.0333333' AS DateTime2), NULL, 1, 1, CAST(N'2025-11-21T14:08:07.0333333' AS DateTime2), NULL)
INSERT [dbo].[Trips] ([trip_id], [trip_code], [ship_id], [departure_port_id], [arrival_port_id], [departure_date], [expected_arrival_date], [actual_arrival_date], [status_id], [created_by], [created_at], [updated_at]) VALUES (2, N'TRIP-DMT-JBA-002', 2, 1, 3, CAST(N'2025-11-19T14:08:07.0333333' AS DateTime2), CAST(N'2025-11-26T14:08:07.0333333' AS DateTime2), NULL, 3, 1, CAST(N'2025-11-21T14:08:07.0333333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Trips] OFF
SET IDENTITY_INSERT [dbo].[TripStatuses] ON 

INSERT [dbo].[TripStatuses] ([status_id], [status_name], [status_name_ar], [created_at]) VALUES (1, N'Planned', N'????', CAST(N'2025-11-14T15:11:05.8733333' AS DateTime2))
INSERT [dbo].[TripStatuses] ([status_id], [status_name], [status_name_ar], [created_at]) VALUES (2, N'Loading', N'??? ???????', CAST(N'2025-11-14T15:11:05.8733333' AS DateTime2))
INSERT [dbo].[TripStatuses] ([status_id], [status_name], [status_name_ar], [created_at]) VALUES (3, N'Departed', N'?????', CAST(N'2025-11-14T15:11:05.8733333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TripStatuses] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [role_id], [username], [email], [password_hash], [full_name], [phone], [address], [country], [is_active], [created_at], [updated_at], [last_login_at]) VALUES (1, 1, N'admin', N'admin@seatrack.com', N'ef797c8118f02dfb649607dd5d3f8c7623048c9c063d532cc95c5ed7a898a64f', N'Ahmed', N'966501234567', NULL, N'Libya', 1, CAST(N'2025-11-14T15:13:50.1366667' AS DateTime2), NULL, CAST(N'2025-11-21T14:18:04.3366667' AS DateTime2))
INSERT [dbo].[Users] ([user_id], [role_id], [username], [email], [password_hash], [full_name], [phone], [address], [country], [is_active], [created_at], [updated_at], [last_login_at]) VALUES (2, 2, N'AAA', N'AAA@sd.d', N'ef797c8118f02dfb649607dd5d3f8c7623048c9c063d532cc95c5ed7a898a64f', N'aa', N'32332', N'qwdwq', N'libya', 1, CAST(N'2025-11-18T04:05:06.7600000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Users] ([user_id], [role_id], [username], [email], [password_hash], [full_name], [phone], [address], [country], [is_active], [created_at], [updated_at], [last_login_at]) VALUES (3, 2, N'khalid_omari', N'khalid@example.com', N'ef797c8118f02dfb649607dd5d3f8c7623048c9c063d532cc95c5ed7a898a64f', N'خالد العمري', N'966555555555', N'???? ???????? ???', N'السعودية', 1, CAST(N'2025-11-21T14:08:07.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [idx_ActivityLog_CreatedAt]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_ActivityLog_CreatedAt] ON [dbo].[ActivityLog]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_ActivityLog_UserID]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_ActivityLog_UserID] ON [dbo].[ActivityLog]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_BookingRequests_CustomerID]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_BookingRequests_CustomerID] ON [dbo].[BookingRequests]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_BookingRequests_Status]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_BookingRequests_Status] ON [dbo].[BookingRequests]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_BookingRequests_TripID]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_BookingRequests_TripID] ON [dbo].[BookingRequests]
(
	[trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Containe__F4D93B4EBF8D7A18]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[Containers] ADD UNIQUE NONCLUSTERED 
(
	[container_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_Containers_Available]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_Containers_Available] ON [dbo].[Containers]
(
	[is_available] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Containers_Code]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_Containers_Code] ON [dbo].[Containers]
(
	[container_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Invoices__5ED70A35C6E49108]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[Invoices] ADD UNIQUE NONCLUSTERED 
(
	[invoice_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_Invoices_CustomerID]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_Invoices_CustomerID] ON [dbo].[Invoices]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_Invoices_Status]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_Invoices_Status] ON [dbo].[Invoices]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ports__0281FBD085A85D74]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[Ports] ADD UNIQUE NONCLUSTERED 
(
	[port_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ports__467F72F3D79D381D]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[Ports] ADD UNIQUE NONCLUSTERED 
(
	[port_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__783254B19A8B9961]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Shipment__CB13E6243ADD59F2]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[Shipments] ADD UNIQUE NONCLUSTERED 
(
	[shipment_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Shipment__E2FB88893CE98630]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[Shipments] ADD UNIQUE NONCLUSTERED 
(
	[qr_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_Shipments_CustomerID]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_Shipments_CustomerID] ON [dbo].[Shipments]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Shipments_QRCode]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_Shipments_QRCode] ON [dbo].[Shipments]
(
	[qr_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Shipments_ShipmentCode]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_Shipments_ShipmentCode] ON [dbo].[Shipments]
(
	[shipment_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_Shipments_StatusID]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_Shipments_StatusID] ON [dbo].[Shipments]
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_Shipments_TripContainerID]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_Shipments_TripContainerID] ON [dbo].[Shipments]
(
	[trip_container_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Shipment__501B3753DC511FB4]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[ShipmentStatuses] ADD UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Shipping__543C4FD9A74060FB]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[ShippingTypes] ADD UNIQUE NONCLUSTERED 
(
	[type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ships__66CF98C3056D45C6]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[Ships] ADD UNIQUE NONCLUSTERED 
(
	[ship_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ships__7668795458FFA242]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[Ships] ADD UNIQUE NONCLUSTERED 
(
	[ship_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Trip_Con__B4AD782214453D95]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[Trip_Containers] ADD UNIQUE NONCLUSTERED 
(
	[trip_id] ASC,
	[container_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tmp_ms_x__F6B4147C13F5C5E6]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[Trips] ADD UNIQUE NONCLUSTERED 
(
	[trip_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_Trips_ShipID]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_Trips_ShipID] ON [dbo].[Trips]
(
	[ship_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_Trips_Status]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_Trips_Status] ON [dbo].[Trips]
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Trips_TripCode]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_Trips_TripCode] ON [dbo].[Trips]
(
	[trip_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TripStat__501B37533FF9D4AE]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[TripStatuses] ADD UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E61646D9AC7D0]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC572D3A155EB]    Script Date: 11/21/2025 02:19:25 م ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Users_Email]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_Users_Email] ON [dbo].[Users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_Users_RoleId]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_Users_RoleId] ON [dbo].[Users]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Users_Username]    Script Date: 11/21/2025 02:19:25 م ******/
CREATE NONCLUSTERED INDEX [idx_Users_Username] ON [dbo].[Users]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLog] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[BookingRequests] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[BookingRequests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Containers] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[Containers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ContainerSizes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[InvoiceItems] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [is_paid]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Ports] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Ports] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ShipmentStatuses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ShippingTypes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Ships] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Ships] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Trip_Containers] ADD  DEFAULT ((0)) FOR [cargo_weight_kg]
GO
ALTER TABLE [dbo].[Trip_Containers] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[Trips] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[Trips] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TripStatuses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ActivityLog]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[BookingRequests]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[BookingRequests]  WITH CHECK ADD FOREIGN KEY([trip_id])
REFERENCES [dbo].[Trips] ([trip_id])
GO
ALTER TABLE [dbo].[BookingRequests]  WITH CHECK ADD FOREIGN KEY([trip_container_id])
REFERENCES [dbo].[Trip_Containers] ([trip_container_id])
GO
ALTER TABLE [dbo].[Containers]  WITH CHECK ADD FOREIGN KEY([size_id])
REFERENCES [dbo].[ContainerSizes] ([size_id])
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD FOREIGN KEY([shipment_id])
REFERENCES [dbo].[Shipments] ([shipment_id])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[BookingRequests] ([booking_id])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD FOREIGN KEY([booking_request_id])
REFERENCES [dbo].[BookingRequests] ([booking_id])
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD FOREIGN KEY([delivered_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD FOREIGN KEY([scanned_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD FOREIGN KEY([shipping_type_id])
REFERENCES [dbo].[ShippingTypes] ([type_id])
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[ShipmentStatuses] ([status_id])
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD FOREIGN KEY([trip_container_id])
REFERENCES [dbo].[Trip_Containers] ([trip_container_id])
GO
ALTER TABLE [dbo].[Trip_Containers]  WITH CHECK ADD FOREIGN KEY([container_id])
REFERENCES [dbo].[Containers] ([container_id])
GO
ALTER TABLE [dbo].[Trip_Containers]  WITH CHECK ADD FOREIGN KEY([trip_id])
REFERENCES [dbo].[Trips] ([trip_id])
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD FOREIGN KEY([arrival_port_id])
REFERENCES [dbo].[Ports] ([port_id])
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD FOREIGN KEY([departure_port_id])
REFERENCES [dbo].[Ports] ([port_id])
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD FOREIGN KEY([ship_id])
REFERENCES [dbo].[Ships] ([ship_id])
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[TripStatuses] ([status_id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAvailableContainers]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAvailableContainers]
    @TripId INT,
    @ContainerType INT
AS
BEGIN
    SELECT 
        c.container_id,
        c.container_code,
        c.base_weight_kg,
        c.max_weight_kg,
        ISNULL(tc.cargo_weight_kg, 0) AS cargo_weight_kg,
        (c.base_weight_kg + ISNULL(tc.cargo_weight_kg, 0)) AS gross_weight_kg
    FROM 
        Containers c
    LEFT JOIN 
        Trip_Containers tc ON c.container_id = tc.container_id AND tc.trip_id = @TripId
    WHERE 
        c.type = @ContainerType
        AND c.is_available = 1
        AND (tc.trip_container_id IS NULL OR tc.trip_id = @TripId)
    ORDER BY 
        c.container_code;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomerShipments]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCustomerShipments]
    @CustomerId INT
AS
BEGIN
    SELECT 
        s.shipment_id,
        s.shipment_code,
        s.description,
        s.weight_kg,
        ss.status_name_ar AS status,
        s.created_at,
        s.updated_at,
        t.trip_code,
        dp.port_name AS departure_port,
        ap.port_name AS arrival_port
    FROM 
        Shipments s
    JOIN 
        ShipmentStatuses ss ON s.status_id = ss.status_id
    LEFT JOIN 
        Trip_Containers tc ON s.trip_container_id = tc.trip_container_id
    LEFT JOIN 
        Trips t ON tc.trip_id = t.trip_id
    LEFT JOIN 
        Ports dp ON t.departure_port_id = dp.port_id
    LEFT JOIN 
        Ports ap ON t.arrival_port_id = ap.port_id
    WHERE 
        s.customer_id = @CustomerId
    ORDER BY 
        s.created_at DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTripStatistics]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTripStatistics]
    @TripId INT
AS
BEGIN
    SELECT 
        COUNT(DISTINCT tc.container_id) AS total_containers,
        COUNT(DISTINCT s.shipment_id) AS total_shipments,
        SUM(tc.cargo_weight_kg) AS total_cargo_weight,
        SUM(c.base_weight_kg + tc.cargo_weight_kg) AS total_gross_weight
    FROM 
        Trips t
    LEFT JOIN 
        Trip_Containers tc ON t.trip_id = tc.trip_id
    LEFT JOIN 
        Containers c ON tc.container_id = c.container_id
    LEFT JOIN 
        Shipments s ON tc.trip_container_id = s.trip_container_id
    WHERE 
        t.trip_id = @TripId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCargoWeight]    Script Date: 11/21/2025 02:19:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCargoWeight]
    @TripContainerId INT,
    @AdditionalWeight DECIMAL(10,2)
AS
BEGIN
    DECLARE @CurrentWeight DECIMAL(10,2);
    DECLARE @MaxWeight DECIMAL(10,2);
    DECLARE @ContainerId INT;
    
    SELECT @CurrentWeight = cargo_weight_kg, @ContainerId = container_id
    FROM Trip_Containers
    WHERE trip_container_id = @TripContainerId;
    
    SELECT @MaxWeight = max_weight_kg
    FROM Containers
    WHERE container_id = @ContainerId;
    
    IF (@CurrentWeight + @AdditionalWeight) <= @MaxWeight
    BEGIN
        UPDATE Trip_Containers
        SET cargo_weight_kg = cargo_weight_kg + @AdditionalWeight
        WHERE trip_container_id = @TripContainerId;
    END
    ELSE
    BEGIN
        RAISERROR('وزن الحاوية يتجاوز الحد الأقصى', 16, 1);
    END
END;
GO
USE [master]
GO
